<div>
    <div>
        <h4 class="text-center">{{name}}</h4>
        <hr/>
    </div>
    <video id="video" class="video-player" controls>
        <source src="/stream/{{src}}" type="{{content_type}}" />
    </video>
</div>
<script>
    document.title = "{{name}} | {{appName}}";
</script>